* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
input {
  padding: 10px;
}
.timer {
  display: flex;
  gap: 10px;
}
button {
  background-color: #555; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button[disabled] {
  background-color: rgb(217, 208, 208);
}
button[disabled]:hover {
  background-color: rgb(217, 208, 208);
}
button:hover {
  background-color: rgb(77, 42, 42);
}
.label {
  color: rgb(26, 16, 108);
}
.value {
  color: rgb(154, 202, 21);
}
